@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,100,300|Oswald:400,300);

* {
	margin: 0;
  	padding: 0;
  	border: 0;
}

body {
	/*background-image: url(../img/back/twinkle_twinkle.png);*/
	font-family: 'Roboto';
	color: #FFF;
	background-color: #0a846d;
}

h1 {
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 80px;
	color: #000;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

h2 {
	color: #000;
	font-size: 24px;
}

.sub {
	color: #000;
}

h3 {
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 50px;
	padding-top: 40px;
	padding-bottom: 40px;
}

h4 {
	font-weight: 100;
	font-size: 24px;
	padding-top: 20px;
	padding-bottom: 20px;
}

ul.navigation {
  float: left;
  position: fixed;
  padding: 1.5%;
  margin-top: 11%;
  left: 0;
  z-index: 9999; 
}

ul.navigation li {
    cursor: pointer;
    width: 10px;
    height: 10px;
    border: 2px solid white;
    /* CURVED EDGES
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
        */
    display: block;
    margin-bottom: 8px; 
}

ul.navigation li:hover {
      background: white; 
}

ul.navigation li.active {
    background: white; 
}

.home-content {
	position: absolute;
	top: 22%;
	left: 10%;
	width: 1600px;
	height: 660px;
}

.ovie {
	margin-left: 44%;
	margin-top: -6%;
}

.ov {

position:relative;
animation-name:myfirst;
animation-duration:4s;
animation-timing-function:linear;
animation-iteration-count:infinite;
/* Safari and Chrome: */
-webkit-animation-name:myfirst;
-webkit-animation-duration:4s;
-webkit-animation-timing-function:linear;
-webkit-animation-iteration-count:infinite;
}

@keyframes myfirst
{
0%   {left:0px; top:0px;}
25%  {left:10px; top:0px;}
50%  {left:0px; top:10px;}
75%  {left:10px; top:0px;}
100% {left:0px; top:0px;}
}


@-webkit-keyframes myfirst /* Safari and Chrome */
{
0%   {left:0px; top:0px;}
25%  {left:10px; top:0px;}
50%  {left:0px; top:10px;}
75%  {left:10px; top:0px;}
100% {left:0px; top:0px;}
}
  

.slide {
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	/*position: relative; */
	overflow: hidden;
	/*background-color: #318b6b;*/
	background-color: #1a1a1a;
}

#slide1 {
	width: 1600px;
 	height: 655px;
	background: url("../img/back/1.jpg");
}

#slide3 {
	background: url("../img/back/2.jpg");
}

#slide2, #slide4 {
	background-color: #000;
}


#slide5 {
	background: url("../img/back/3.jpg");
}

.about, .work, .skills, .contact {
	margin-top: 5%;
	margin-left: 10%;
	color: #FFF;
	height: 660px;
}

.writing {
	width: 700px;
	font-size: 20px;
	font-weight: 300;
}

.msg-head {
	font-size: 21px;
	padding: 5px 10px;
	position: relative;
}

.msg-head:hover {
	cursor: pointer;
	color: #318b6b;
}

.msg-body {
	font-weight: 300; 
	padding: 5px 10px 15px;
}

.skill-icons img {
	padding-right: 10px;
	padding-bottom: 5px;
}

#narrative {
	width: 600px;
}
